APS360_Project.log
APS360_Project.aux
APS360_Project.bbl
APS360_Project.blg
APS360_Project.fdb_latexmk
APS360_Project.fls
APS360_Project.out
APS360_Project.synctex.gz

APS360_Project_Proposal.log
APS360_Project_Proposal.aux
APS360_Project_Proposal.bbl
APS360_Project_Proposal.blg
APS360_Project_Proposal.fdb_latexmk
APS360_Project_Proposal.fls
APS360_Project_Proposal.out
APS360_Project_Proposal.synctex.gz
.idea
models
test_data/haikus2.txt
test_data/haikus2-cleaned.txt
test_data/haikus_unique.csv
pdflatex85725.fls
.DS_Store